<% if flash[:errors] %>
  <ul>
  <% flash[:errors].each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
<% end %>

<p>Other content for the cats index goes here</p>

<% content_for :footer do %>
  <p>This is the cats index page.</p>
<% end %>